<%= form_for @movie, html: { multipart: true } do |f|%>
  <div class="form-group">
    <% if @movie.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
        <ul>
          <% @movie.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>

    <div class="field">
      <%= f.label :blob %><br>
      <%= f.file_field :blob, class: "form-control", placeholder: "blob" %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>