<%= form_for @movie, html: { multipart: true } do |f|%>
  <div class="form-group">
    <% if @movie.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
        <ul>
          <% @movie.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>
    <div class="field">
      <%= f.label :age_limit %><br>
      <%= f.number_field :age_limit, class: "form-control", placeholder: "Age limit" %>
    </div>

    <div class="field">
      <%= f.label :price %><br>
      <%= f.number_field :price, class: "form-control", placeholder: "Price" %>
    </div>
    <div class="field">
      <%= f.label :category %><br>
      <%= f.collection_select :category, Category.all , :id ,:name %>
      <%= link_to 'New Category', new_category_path %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: "form-control", placeholder: "description" %>
    </div>
    <div class="field">
      <%= f.label :movie_length %><br>
      <%= f.number_field :movie_length, class: "form-control", placeholder: "Movie Length (Hours)" %>
    </div>

    <div class="field">
      <%= f.label :Poster %><br>
      <%= f.file_field :blob, class: "form-control", placeholder: "Poster" %>
    </div>



    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>